.container {
    display: grid;
    width: 250px;
    height: 250px;
    background-color: aqua;
    margin: auto;
    margin-top: 13%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.items {
    background-color: aqua;
    border: 1px solid purple;
    text-align: center;
    padding-top: 35%;
}

.gameResult {
    margin: auto;
    margin-top: 10px;
    background-color: aquamarine;    
    width: 40%;
    text-align: center;
}

